@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

html {
    background-color: #1c1c1b;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    font-family: 'Rubik', sans-serif;
    text-align: justify;
    margin: 0;
}
footer {
    background-color: #1c1c1b;
    padding: 1rem;
}
footer p {
    color: #f2eee9;
}