@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik&display=swap');

header {
    height: 56px;
}

header div {
   height: 56px;
}
section {
    padding: 1rem;
}

.themeButtonIcon {
    width: 22px;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
	margin-top: 1rem;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
}

footer {
    padding: 1rem;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-radius: 24px; /* Rounded corners */
}