@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik&display=swap');

header {
    height: 36px;
}

#headerContent {
    display: flex;
    justify-content: space-between;
}

section {
    padding: 1rem;
}

.themeButtonIcon {
    width: 22px;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    font-family: 'Rubik', sans-serif;
    text-align: justify;
}

footer {
    padding: 1rem;
}
